


//Spin Animation
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

// Blip Animation
@-moz-keyframes blip {
    from { -moz-transform: translateY(5); }
    to { -moz-transform: translateY(-10px); }
}
@-webkit-keyframes blip {
    from { -webkit-transform: translateY(0); }
    to { -webkit-transform: translateY(-10px); }
}
@keyframes blip {
    from {transform:translateY(0);}
    to {transform:translateY(-10px);}
}

@-moz-keyframes blip-out {
    from { -moz-transform: translateY(-10px); }
    to { -moz-transform: translateY(0); }
}
@-webkit-keyframes blip-out {
    from { -webkit-transform: translateY(-10px); }
    to { -webkit-transform: translateY(0); }
}
@keyframes blip-out {
    from {transform:translateY(-10px);}
    to {transform:translateY(0);}
}

// fade in bottom
@-moz-keyframes blip-out {
    from {
        transform:translateY(10px);
        opacity: 0;
    }
    to {
        transform:translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes blip-out {
    from {
        transform:translateY(10px);
        opacity: 0;
    }
    to {
        transform:translateY(0);
        opacity: 1;
    }
}
@keyframes fadein {
    
    from {
        transform:translateY(10px);
        opacity: 0;
    }
    to {
        transform:translateY(0);
        opacity: 1;
    }
}