
@import url('https://fonts.googleapis.com/css?family=Damion|Pacifico|Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import 'variables';
@import 'animations';

@import 'mobile';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, input {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    color: white;
    background-image: linear-gradient(to right bottom, $light-red, $red);
    overflow: hidden;
    scroll-behavior: smooth;
}

h1, h2 {
    font-family: 'Damion', cursive;
}

a {
    color: white;
    text-decoration: none;
    outline: 0;

    &:hover {
        color: white;
        text-decoration: none;
    }

    a:active, a:focus {
        outline: 0;
        border: none;
        -moz-outline-style: none;
    }
}

button {
    color: white;
    background: none;
    border: none;
}


@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// GENERIC
.btn {
    cursor: pointer;

    &--frwd {

    }

    &--bwrd {
        
    }
}

.section {
    @include flex-center();
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.close {
    // position: absolute;
    //right: 10vw;
    // top: 5vh;
    width: max-content;
    align-self: flex-end;
    
    -webkit-animation: blip-out 0.5s linear; /* Safari 4+ */
    -moz-animation:    blip-out 0.5s linear; /* Fx 5+ */
    -o-animation:      blip-out 0.5s linear; /* Opera 22+ */
    animation:         blip-out 0.5s; /* IE 10+, Fx 29+ */

    i {
        font-size: 8rem;
    }

    &:hover {
        -webkit-animation: blip 0.5s infinite alternate ; /* Safari 4+ */
        -moz-animation:    blip 0.5s infinite alternate ; /* Fx 5+ */
        -o-animation:      blip 0.5s infinite alternate ; /* Opera 22+ */
        animation:         blip 0.5s infinite alternate; /* IE 10+, Fx 29+ */
    }
}

.loader {
    margin: 5rem auto;
    text-align: center;
    
    img {
        height: 6rem;
        width: 6rem;
        fill: $light-red;
        transform-origin: 44% 50%;
        animation: spin 1.5s infinite linear;
    }
}


// SECTIONS
.start {
    @include flex-center();
    position: absolute;

    &__pizza {
        position: absolute;
        // transform: rotate(-60deg);
        width: 80%;

        -webkit-animation: spin 30s infinite linear; /* Safari 4+ */
        -moz-animation:    spin 30s infinite linear; /* Fx 5+ */
        -o-animation:      spin 30s infinite linear; /* Opera 12+ */
        animation:         spin 30s infinite linear; /* IE 10+, Fx 29+ */
    }

    &__title {
        @include flex-center();
        flex-direction: column;

        position: relative;
        // min-width: 400px;
        // min-height: 150px;
        transform: rotate(-10deg);
        padding: 20px 30px;

        transition: all 1s;

        line-height: 0.8;

        h1,h2,&--bg {
            transition: all 1s;
        }

        h1 {
            font-size: 6rem;
            margin-left: -60px;
        }

        h2 {
            font-size: 3rem;
            margin-left: 120px;
        }

        &:hover {
            line-height: 1;
            
            h1 {
                transform: scale(1.3);
            }
            h2 {
                transform: scale(1.1);
            }

            .start__pizza {
                width: 100%;
            }
        }
        
        &--bg {
            transform: skew(-25deg);
            background: linear-gradient(to right bottom, $yellow, $light-red);

            position: absolute;
            height: 60%;
            width: 80%;

            top: 30%;

            z-index: -1;

            :hover > &{
                top: 20%;
                height: 80%;
                width: 150%;
            }
        } 
    }
}

#recipes {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.slider {
    align-self: flex-start;
    margin: auto;
    padding: 80px 0;
    width: 80%;

    &__header {
        @include flex-center();
        justify-content: space-between;
    }
        .search {
            @include flex-center();
            max-width: 500px;
            width: 100%;

            // margin: 0 20px;
            padding: 0.6rem 1.6rem;

            font-size: 3rem; 

            background: rgba(255, 255, 255, 0.2);
            border-radius: 30px;

            transition: all 0.2s;

            opacity: 0.6;

            &:hover, &:focus, &:focus-within {
                opacity: 1;
                // padding: 0.8rem 1.8rem;
            }

            &__field {
                color: white;
                background: transparent;
                border: none;
                width: 100%;

                font-size: 1.4rem; 
            }

            &__btn {
                font-size: 2rem; 
                margin-left: 10px;
                transition: scale 0.3s;

                &:hover, &:focus {
                    scale: 1.3;
                }
            }
        }
    
    &__page {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            // grid-template-rows:  auto;
            grid-gap: 1rem;

        .loader {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 3;
        }

        
        .place-holder {
            min-height: 120px;
    
            background: linear-gradient(to right bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0));
            color: $dark-gray;
            padding: 0.8rem;
            border-radius: 0.8rem;

            opacity: 0.2;
        }

        .recipe {
            // flex: 20%;
            // margin:5px;
    
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows:  repeat(2, auto);
            grid-gap: 1rem;

            // min-width: 450px;
    
            //max-width: 20vw;
            max-height: fit-content;
    
            background: linear-gradient(to right bottom, white, $light-gray);
            color: $dark-gray;
            padding: 0.8rem;
            border-radius: 0.8rem;
            
            &__img-wrap {
                @include flex-center();
        
                grid-row-start: 1;
                grid-row-end: 3;
        
                height: 100%;
                width: 100%;
        
            }
                &__thumbnail {
                    @include flex-center();
        
                    height: 120px;
                    width: 120px;
                    overflow: hidden;
                    position: relative;
                    border-radius: 50%;
        
                    img {
                        position: absolute;
                        min-width: 100%;
                        max-height: 100%;
                    }
                }
                
                &__text-wrap {
            
                }
                    &__title {
                        color: $red;
                    }
            
                    &__desc {
            
                    }
            
                &__stats {
                    @include flex-center();
                    justify-content: left;
                    flex-wrap: wrap;
                    grid-column-start: 2;
                }
                    &__time {
                        @include flex-center();
            
            
                        margin-right: 15px;
                    }
            
                    &__score {
                    }
        }
    }

    &__footer {
        @include flex-center();
        margin: 2rem 0;
        width: 100%;

        .nav{
            display: flex;
            justify-content: space-between;

            width: 100%;
            max-width: 300px;

            font-size: 1.2rem;

            &__arrow {
                display: flex;
                align-items: center;
                justify-content: space-between;

                cursor: pointer;
                text-align: center;

                background: linear-gradient(to right bottom, $yellow, $light-red);
                padding: 0.5rem 1rem ;
                // margin: 0 2rem;
                // margin-top: -0.5rem;

                border-radius: 5px;

                &--prev {
                    // justify-self: flex-start;
                    i {
                        margin-right: 0.5rem; 
                    }
                }

                &--next {
                    margin-left: auto;
                    flex-direction: row-reverse;
                    i {
                        margin-left: 0.5rem; 
                    }
                }
            }

            
        }
    }
}

.instruction {
    
}